<div id="importer" class="admin_tools">
  <h1>Importer (Report Only)</h1>
  
  <% unless @error.nil? %> <p class="error"><%= @error%></p> <% end %>
  
  <% unless @error_csv_mtime.nil? %> <p><a href="/tools/importer_error_report">Download</a> the error report from <%= @error_csv_mtime.strftime('%H:%M:%S (%B %d, %Y)') %></p> <% end %>
  
  <% if @importer_running_since.nil? %>
  <% @changes_by_group.sort.each do |group, changes| %>
  <h2><%= group %> Changes</h2>
  
  <% info = @upload_info_by_group[group] %>
  <form action="/tools/importer?operation=upload_<%= group %>" method="post" enctype="multipart/form-data">
    <%= submit "Upload #{info.first}" %>
    to the <select name="bucket"><% info.last.each { |b| %><option value="<%= b.attribute_escape %>"><%= b %></option><% } %></select> bucket
    <input type="file" name="file" />
  </form>
  
  <% available = @available_by_group[group] %>
  <% unless available.empty? %>
  <form action="/tools/importer?operation=remove_<%= group %>" method="post">
    <%= submit "Remove" %>
    <select name="path">
      <% available.each do |path| %>
      <option value="<%= path.attribute_escape %>"><option1><%= path %></option>
      <% end %>
    </select>
  </form>
  <% end %>
  
  <% unless changes == "{none}" %><p><a href="/tools/importer?operation=revert_<%= group %>">Undo</a> all <%= group.downcase %> changes</p><% end %>
  <pre><%= changes %></pre>
  <% end %>
  
  <% else %>
  <p>Importer running since: <strong><%= @importer_running_since.strftime('%H:%M:%S') %></strong></p>
  <h2>Progress...</h2>
  <pre id="log">{retrieving log}</pre>
  
  <% end %>
</div>

<% unless @importer_running_since.nil? %>
<script type="text/javascript" charset="utf-8">
  function update_log() { $.get('/tools/importer_log', update_log_handler); }
  update_log();
  
  function update_log_handler(log) {
    $('#log').text(log);
    log.match('{importer finished}$') ? window.location.reload() : setTimeout(update_log, 1000);
  }
</script>
<% end %>
