<div id="partner_panel">
	<img src="/images/logo_small.png" />
	
	<div class="finder">
		<%= form :action => resource(:cached_finds), :onsubmit => "return finder_validate()" do %>
			<%= hidden_field :language_code, :value => session.language %>
			<p> <%= text_field :specification, :id => "cached_find_specification" %> </p>
			<p> <%= submit "Find", :id => "submit" %> </p>
		<% end =%>
	</div>
	
	<a class="back" href="/future_purchases/buy_options">&lt;&lt; Back to iFloat</a>
	
	<div id="shopping_list" class="purchase_list">
		<span class="name">Shopping List</span>
		<span class="total"><%= @current_purchases.size %></span>
		
	</div>
	<%= partial :purchase, :with => @current_purchases %>
	
	<% unless @future_purchases.empty? %>
	<div id="future_purchases" class="purchase_list">
		<span class="name">Future Buys</span>
		<span class="total"><%= @future_purchases.empty? ? "" : @future_purchases.size %></span>
		
	</div>
	<%= partial :purchase, :with => @future_purchases %>
	<% end %>
</div>

<script type="text/javascript">
$(document).ready(function() {
	var partner_panel = $("#partner_panel");
	var partner_store = $("#partner_store");
	
	var find_bar_width = partner_panel.width() + 5;
	function auto_size_partner_store() {
		partner_store.width($(window).width() - find_bar_width);
	}
	
	auto_size_partner_store();
	$(window).resize(auto_size_partner_store);
	partner_store.css("left", find_bar_width);
	partner_store.attr("src", <%= @partner_url.inspect %>);
	
	function hide_unavailable() {
		var item = $(this);
		item.text(this.original_text);
		item.css("color", "gray");
	}
	
	function show_unavailable() {
		var item = $(this);
		this.original_text = item.text();
		item.text("UNAVAILABLE");
		item.css("color", "red");
	}
	
	unavailable_items = partner_panel.find("a.unavailable");
	unavailable_items.mouseover(show_unavailable);
	unavailable_items.mouseout(hide_unavailable);
});
</script>

<iframe id="partner_store"></iframe>



