<%
	property_id, type = filter.values_at(:prop_id, :prop_type)
	domain, title = filter[:prop_friendly_name]
	domain_hash = domain.hash.abs.to_s
	filter_id = "filter_#{property_id}"
	
	if type == "text"
		@all, @relevant = @text_filter_values[property_id]
		@definitions = (@text_value_definitions[property_id] || {})
		@excluded = filter[:data]
	else
		@min, @max, @unit, @limits = filter[:data]
	end
%>

<% unless domain == @domain %>
<tr id=<%= domain_hash.inspect %> class="filter_section"> <th colspan="3"><%= domain %></th> </tr>
<% @domain = domain; end %>

<tr id=<%= (filter_id + "_summary").inspect %> class="filter_summary domain_<%= domain_hash %>">
	<td>
		<img class="icon" src=<%= @icon_urls_by_property_id[property_id].inspect %> onclick="$('#<%= filter_id %>').toggle()" onmouseover="bubble_tooltip_show(event, '<%= title %>')" onmouseout="bubble_tooltip_hide()" />
	</td>
	
	<td> <div class="summary" onclick="$('#<%= filter_id %>').toggle()"> </div> </td>
</tr>

<tr id=<%= filter_id.inspect %> class="filter">
	<td colspan="2">
		<div class="unknown_item">
			<% checked = (filter[:include_unknown] ? 'checked="checked"' : '') %>
			<input type="checkbox" <%= checked %> onclick="filter_handle_check(this)" />
			Show products with no value
		</div>
		
		<% if type == "text" %>
		<% @all.each do |value| %>
		<div class="list_item">
			<img class="select_one" src="/images/buttons/select_one.png" onclick="text_filter_select_one(this)"/>
			<% checked = (@excluded.include?(value) ? '' : 'checked="checked"') %>
			<input type="checkbox" value=<%= value.inspect %> <%= checked %> onclick="text_filter_handle_check(this)" />
			<%= defined_value(value, @definitions[value]) %>
		</div>
		<% end %>
		
		<% elsif type == "date" %>
		<table>
			<tr>
				<td class="label">from</td>
				<td>
					<input class="min" type="text" onkeyup="num_filter_handle_input(this)" />
					(&ge; <span class="min_all"> </span>)
				</td>
			</tr>
			
			<tr>
				<td class="label">to</td>
				<td>
					<input class="max" type="text" onkeyup="num_filter_handle_input(this)" />
					(&le; <span class="max_all"> </span>)
				</td>
			</tr>
		</table>
	
		<% else %>
		<table>
			<tr>
				<td class="label">min</td>
				<td>
					<img class="fraction_helper" src="/images/buttons/fraction_helper.png" onclick="fraction_helper_open(this)" />
					<input class="min" type="text" onkeyup="num_filter_handle_input(this)" /> 
					(&ge; <span class="min_all"> </span>)
				</td>
			</tr>
			
			<tr>
				<td class="label">max</td>
				<td>
					<img class="fraction_helper" src="/images/buttons/fraction_helper.png" onclick="fraction_helper_open(this)" />
					<input class="max" type="text" onkeyup="num_filter_handle_input(this)" />
					(&le; <span class="max_all"> </span>)
				</td>
			</tr>
			
			<% unless @limits.has_key?(nil) %>
			<tr>
				<td class="label">unit</td>
				<td>
					<select class="unit" onchange="num_filter_handle_select(this)">
						<% @limits.each do |unit, min_max| %>
						<% selected = (unit == @unit ? 'selected="selected"' : '') %>
						<option <%= selected %>><%= unit %></option>
						<% end %>
					</select>
				</td>
			</tr>
			<% end %>
		</table>

		<% end %>
	</td>
</tr>

<script type="text/javascript">
	var filter = $("#<%= filter_id %>");
	var f = filter[0];
	f.find_id = <%= @find.id %>;
	f.property_id = <%= property_id %>;
	
	f.text_filter = <%= type == "text" %>;
	
	<% unless type == "text" %>
	f.date_filter = <%= type == "date" %>;
	
	f.unit = <%= @unit.to_s.inspect %>;
	
	f.limits = {};
	f.values = {};
	<% @limits.each do |unit, min_max| %>
	<% cmin, cmax = @min.to_f, @max.to_f %>
	<% cmin, cmax = [cmin, cmax].map { |v| Conversion.convert(v, @unit, unit) } unless unit == @unit %>
	<% unit = unit.to_s.inspect %>
	f.limits[<%= unit %>] = <%= [min_max.first.to_f, min_max.last.to_f].inspect %>;
	f.values[<%= unit %>] = <%= [cmin, cmax].inspect %>;
	<% end %>
	f.unit_count = <%= @limits.size %>;	
	
	num_filter_update_context_and_summary(filter);
	num_filter_update_min_max(filter);
	
	<% unless @unit.nil? %>
	filter.find("select.unit").val(f.unit);
	<% end %>
	
	<% end %>
	
	filter.toggle();
</script>
