<div class="finder">
	<div class="left"></div>
	<%= form :action => resource(:cached_finds), :onsubmit => "return finder_validate()" do %>
		<%= hidden_field :language_code, :value => session.language %>
		<p> 
			<% if @previous_finds.blank? %>
			<%= select :prompt => "No previous finds", :disabled => true %>
			<% else %>
			<%= select :prompt => "Previous finds...", :onchange => "finder_recall(this)", :collection => @previous_finds, :text_method => :spec_date, :value_method => :specification %>
			<% end %>
			
			<%= text_field :specification, :id => "cached_find_specification" %>
			<%= submit "Find", :id => "submit" %>
		</p>
	<% end =%>
	<div class="right"></div>
</div>

<script type="text/javascript">
	var spec_field = $("#cached_find_specification");
	var tempter = "What can we find for you?";

	function tempt() {
		if (spec_field.val() == "") { spec_field.val(tempter); }
		if (spec_field.val() == tempter) { spec_field.css("color", "grey"); }
	}
  
	function untempt() {
		spec_field.css("color", "black");
		if (spec_field.val() == tempter) { spec_field.val(""); }
	}
	
	tempt();
	spec_field.blur(tempt);
	spec_field.focus(untempt);
</script>