<div id="login_register" title="Login / Register">
	<p class="message"> </p>

	<form class="login" action="/users/login" method="POST" onsubmit="return login_submit(this)">
		<h1>Login</h1>
		<%= hidden_field :challenge, :value => session.login_challenge %>
		<p> <label>E-mail: <input type="text" name="login" /></label> </p>
		<p> <label>Password: <input type="password" name="password" /></label> </p>
		<p class="submit"> <%= submit "Login", :onclick => "login_operation('login')" %> <%= submit "Reset Password", :onclick => "login_operation('reset')" %> </p>
	</form>

	<form class="register" action="/users" method="POST" onsubmit="return login_submit(this)">
		<h1>Register</h1>
		<%= hidden_field :challenge, :value => session.login_challenge %>
		<p> <label>Name: <input type="text" name="name" /></label> </p>
		<p> <label>Nickname: <input type="text" name="nickname" /></label> </p>
		<p> <label>E-mail: <input type="text" name="login" /></label> </p>
		<p> <label>Password: <input type="password" name="password" /></label> </p>
		<p> <label>Confirmation: <input type="password" name="confirmation" /></label> </p>
		<p class="marketing">From time to time, we like to involve our users in marketing activities that make suppliers and retailers more effective for their customers. Please tick here <input type="checkbox" name="send_marketing" /> if you would like to participate in these activities.</p>
		<p class="submit"> <%= submit "Register", :onclick => "login_operation('register')" %> </p>
	</form>
</div>

<script type="text/javascript" charset="utf-8">
	var options = {autoOpen: false, close: login_reset, modal: true, width: "700px"};
	var login_register = $("#login_register")
	login_register.dialog(options);
	login_register[0].failure_count = 0;
</script>