<%
	domain, title = @friendly_name_sections[property.id]
	property_id = "property_#{property.id}"
	
	product_ids_by_value_by_unit = @product_ids_by_value_by_unit_by_property[property]
	unit = product_ids_by_value_by_unit.keys.first
%>

<div id=<%= property_id.inspect %> class="property" >
	<img class="icon" src=<%= @icon_urls_by_property_id[property.id].inspect %> onmouseover="bubble_tooltip_show(event, '<%= title %>')" onmouseout="bubble_tooltip_hide()" />
	
	<% unless unit.nil? %>
	<select class="unit" onchange="diff_property_handle_select(this)">
		<% product_ids_by_value_by_unit.keys.sort.each do |u| %>
		<% selected = (u == unit ? 'selected="selected"' : '') %>
		<option <%= selected %>><%= u %></option>
		<% end %>
	</select>
	<% end %>
	
	<% product_ids_by_value_by_unit.each do |unit, product_ids_by_value| %>
	<div class="<%= unit %>_values">
		<% product_ids_by_value.sort_by { |v, pids| v.is_a?(Range) ? v.first : v }.each do |value, product_ids| %>
		<p class=<%= product_ids.uniq.join(" ").inspect %>><%= value %></p>
		<% end %>
	</div>
	<% end %>
</div>

<% unless unit.nil? %>
<script type="text/javascript" charset="utf-8">
	diff_property_handle_select($("#<%= property_id %> select.unit")[0]);
</script>
<% end %>