<%= partial "common/header" %>

<div id="body">

<div id="product_data_panel" class="panel minor">
  <div class="title"> <h2>Common Product Data</h2> </div>
  <%= product_data_panel(@common_values) %>
</div>

<div id="compare_by_image" class="panel major">
  <div class="title">
    <h2><%= panel_title_back_to_find(@find) %></h2>
  </div>
  
  <div class="body">
    <div class="summary">
      <%= product_image(@image) %>
      <%= @title_parts.map { |part| "<h3>#{part.sort.join(" / ").superscript}</h3>" } %>
      <p class="prompt"><strong>Choose a variant</strong> of this product...</p>
      <hr class="terminator"/>
    </div>
    
    <table summary="comparison">
      <tr class="icons">
        <td class="empty"></td>
        
        <% @diff_property_ids.each do |property_id| %>
        <% prop_info = Indexer.property_display_cache[property_id] %>
        <% primary = (property_id == @primary_property_id) %>
        <% dom_class = (primary ? 'class="primary"' : '') %>
        <% chevron = (primary ? "selected" : "unselected") %>
        <td <%= dom_class %>>
          <%= property_icon(prop_info, :above) %> <br />
          
          <% unless primary %> <a href="?sort_by=<%= property_id %>"> <% end %>
          <img src="/images/compare_by_image/backgrounds/chevron_<%= chevron %>.png" alt="sort by this column" />
          <% unless primary %> </a> <% end %>
        </td>
        <% end %>
      </tr>
      
      <% parity = :even %>
      <% @diff_values.each do |product_id, infos| %>
      <% infos_by_property_id = infos.hash_by { |info| info[:id] } %>
      <tr class="values <%= parity = (parity == :even ? :odd : :even) %>"
        onclick="window.location = '<%= Indexer.product_url(product_id) %>'"
        onmouseover="util_highlight_row(event, 'on')" onmouseout="util_highlight_row(event, 'off')">
        <td class="bullet"> <img src=<%= @image.url(:tiny).inspect %> alt="product" /> </td>
        
        <% @diff_property_ids.each do |property_id| %>
        <td class="summary">
          <%= product_value_summary(infos_by_property_id[property_id], :left) %>
        </td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>

</div>

<script type="text/javascript" charset="utf-8">
  var $ifloat_body = {
    find_id: <%= @find.id %>,
    find_spec: <%= @find.specification.to_json %>,
    language: <%= session.language.inspect %>,
    primary_class: <%= @primary_class.inspect %>
  };
  
  $('img.property_icon').not('.disabled').css('cursor', 'pointer');
  util_carousel_table('#compare_by_image table', [0], [1, 2, 3, 4, 5, 6], true);
  
  $('#compare_by_image p.prompt').animate({color: 'yellow'}).animate({color: 'black'});
</script>
