<%= partial "cached_finds/find_header" %>

<div id="product_detail">

<div id="product_detail_data">
	<div class="title">Common Product Data</div>
	<table> <%= partial "products/property", :with => @common_properties %> </table>
</div>

<div id="product_detail_main">
	<% unless @recent_find.nil? %>
	<a href=<%= resource(@recent_find).inspect %>>
		<div id="cached_find_report">		
			Go back to all the products found for <span class="spec"><%= @recent_find.specification %></span>...
		</div>
	</a>
	<% end %>
	
	<div id="product_detail_diff_summary">
		<img class="main" src=<%= @image.url(:small).inspect %> />
		<h1>There are <span><%= @product_count %></span> products with this image</h1>
		<p class="help">Selecting one of the following values will highlight the relevant products</p>
		
		<%= partial :property, :with => @diff_properties %>
		
		<hr />
	</div>
	
	<div id="product_detail_diff_products">
		<% @values_by_property_by_product_url.each do |url, values_by_property| %>
		<a href=<%= url.inspect %>><%= url %></a>
		<% end %>
	</div>
</div>

</div>
