<%= partial "common/header" %>

<div id="body">

<div id="prod_data_panel" class="panel minor">
	<div class="title"> <h2>Common Product Data</h2> </div>
	<div class="advert">Manufacturer Logo Here</div>
	<div class="sections">
		<%= product_data_panel(@common_values) %>
	</div>
</div>

<div id="compare_by_image" class="panel major">
	<div class="title">
		<h2> <a href="<%= resource(@find) %>">Back to <strong><%= @find.specification.inspect %></strong> results</a> </h2>
	</div>
	
	<div class="body">
		<div class="summary">
			<%= product_image(@image) %>
			<%= @title_parts.map { |part| "<h3>#{part.sort.join(" / ")}</h3>" } %>
			<hr class="terminator"/>
		</div>
		
		<table>
			<tr class="icons">
				<% @diff_property_ids.each do |property_id| %>
				<% prop_info = Indexer.property_display_cache[property_id] %>
				<% primary = (property_id == @primary_property_id) %>
				<% dom_class = ((primary and @diff_property_ids.size > 1) ? 'class="primary"' : '') %>
				<% chevron = (primary ? "selected" : "unselected") %>
				<td <%= dom_class %>>
					<% unless primary %> <a href="?sort_by=<%= property_id %>"> <% end %>
					<%= property_icon(prop_info[:icon_url], prop_info[:name], :above) %><br />
					<img src="/images/compare_by_image/backgrounds/chevron_<%= chevron %>.png" />
					<% unless primary %> </a> <% end %>
				</td>
				<% end %>
			</tr>
			
			<% parity = :even %>
			<% @diff_values.each do |product_id, infos| %>
			<% infos_by_property_id = infos.hash_by { |info| info[:id] } %>
			<tr class="values <%= parity = (parity == :even ? :odd : :even) %>"
				onclick="window.location = '<%= url(:product, :id => product_id) %>'"
				onmouseover="util_highlight_row('on')" onmouseout="util_highlight_row('off')">
				<% @diff_property_ids.each_with_index do |property_id, i| %>
				<% tooltip_position = (i >= @diff_count / 2 ? :left : :right) %>
				<td class="summary">
					<%= product_value_summary(infos_by_property_id[property_id], tooltip_position) %>
				</td>
				<% end %>
			</tr>
			<% end %>
		</table>
	</div>
</div>

</div>
