<%= partial :find_header %>

<div id="cached_find">

<% if @find.all_product_count.zero? %>

<img class="found_none" src="/images/backgrounds/found_none.png" />


<% else %>

<div id="cached_find_filters">	
	<div id="fraction_helper" title="Fraction Helper">
		<p>
			<input class="integer" type="text" size="9" maxlength="9" onkeyup="fraction_helper_handle_input(this)" />
			and
			<select class="numerator" onchange="fraction_helper_handle_select(this)">
				<option>0</option>
				<option>1</option>
			</select>
			/
			<select class="denominator" onchange="fraction_helper_handle_select(this)">
				<%= [2, 4, 8, 16, 32, 64].map { |n| "<option>#{n}</option>" } %>
			</select>
		</p>
		<p class="preview"> </p>
	</div>
	
	<div class="title">Filters</div>
	<% if @recalled %>
	<p class="recall">Filters adjusted to their most recent settings for <span class="spec"><%= @find.specification %></span>.</p>
	<% end %>
	<a href=<%= (resource(@find) + "/reset").inspect %>>reset all filters</a>
	<h1>Click to filter by...</h1>
	<table>
		<%= partial :filter, :with => @filters %>
	</table>
</div>

<div id="cached_find_output">
	<div id="cached_find_report">
		Showing
		<span class="displayed_count">?</span>
		/ 
		<span class="filtered_count"><%= @find.all_product_count %></span>
		products for
		<span class="spec"><%= @find.specification %></span>
	</div>
	
	<div id="cached_find_results">
		
		<hr class="result_terminator"/>
		<div class="more">
			<div id="cached_find_more" onclick="prod_list_more(this)">
				<span class="count">36</span> More Results
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	var results = $("#cached_find_results");
	var r = results[0];
	r.filter_queue = [];
	r.filter_queue_active = -1;
	r.find_id = <%= @find.id %>;
	r.list_request_max = 36;
	r.list_size = 0;
	r.visible_size = 0; // TODO: this vs list_size and list_req_max???
	
	prod_grid_more($("#cached_find_more"));
	
	var options = {autoOpen: false, modal: true};
	options.buttons = {
		"Paste Value": fraction_helper_paste_value,
		"Cancel": function() { $(this).dialog("close"); }
	};
	options.close = function() { this.input.css("background", "white"); }
	$("#fraction_helper").dialog(options);
	
	filter_show_only(<%= @relevant_filters.keys.inspect %>);
	text_filter_mark_relevant(<%= @relevant_filters.to_json %>);
	
	$(".filter").each(function (i) {
		if(this.text_filter == false) return true;
		text_filter_update_summary($(this));
	});
</script>

<% end %>

</div>