<%= partial "common/header" %>

<div id="body">

<% if @find.all_product_ids.empty? %>

<div class="noresults">
  <p>Sorry, we couldn't find any products matching "<strong><%= @find.specification %></strong>".</p>
  <% alternatives = @find.alternative_specs %>
  <% unless alternatives.empty? %>
  <p>How about <%= friendly_list(alternatives.map { |spec| '"' + finder_link(spec) + '"' }, "or") %>?</p>
  <% end %>
</div>

<% else %>

<div id="filter_panel" class="panel minor">
  <div class="title"> <h2>Filters</h2> </div>
  <div class="controls">
    <div id="filter_panel_add" class="button">Add Filter</div>
    <div id="filter_panel_remove_all" class="button">Remove All</div>
  </div>
  
  <!-- BoldChat Live Chat Button HTML v3.00 (Type=Web,ChatButton=My Chat Button,ChatWindow=My Chat Window,Website=- None -,Department=- None -) -->
  <div style="text-align: center; white-space: nowrap;">
   <a href="https://livechat.boldchat.com/aid/548031344487358439/bc.chat?cwdid=3929847901140875052" target="_blank" onclick="window.open((window.pageViewer && pageViewer.link || function(link){return link;})(this.href + (this.href.indexOf('?')>=0 ? '&' : '?') + 'url=' + escape(document.location.href)), 'Chat548031344487358439', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=640,height=480');return false;">
    <div><script language="JavaScript" type="text/javascript"> document.write(unescape('%3Cimg alt="Live chat by BoldChat" src="' + (('https:' == document.location.protocol) ? 'https:' : 'http:') + '//cbi.boldchat.com/aid/548031344487358439/bc.cbi?cbdid=74299899611264448" border="0" /%3E')); </script></div>
   </a>
   <div><font size="1" face="Arial"><a href="http://www.boldchat.com" style="text-decoration: none"><font color="black">Live chat by </font><b><font color="#AD3100">Bold</font><font color="#003163">Chat</font></b></a></font></div>
  </div>
  <!-- /BoldChat Live Chat Button HTML v3.00 -->
  
  <div class="sections"></div>
</div>

<div id="find_results_panel" class="panel major">
  <div class="title">
    <h2>
      <strong><%= @find.specification.inspect %></strong> matched
      <%= "product".pluralize_count(@find.all_product_ids.size) %>
      <span id="find_results_remaining"></span>
    </h2>
  </div>
  
  <div id="find_results_products" class="body">
    <!--[if IE 7]>
    <hr class="initiator" />
    <![endif]-->
    
    <hr class="terminator" />
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var $ifloat_body = {
    find_home: true,
    find_id: <%= @find.id %>,
    find_spec: <%= @find.specification.to_json %>,
    find_total: <%= @find.all_product_ids.size %>,
    language: <%= session.language.inspect %>,
    prompt_to_add_filter: true
  };
  
  filter_panel_load();
  find_results_update();
</script>

<% end %>

</div>
