<%= partial "common/header" %>

<div id="body">

<% if @find.all_product_ids.empty? %>

<div id="filter_panel" class="panel minor">
	<div class="title"> <h2></h2> </div>
</div>

<div id="find_results_panel" class="panel major">
	<div class="title"> <h2></h2> </div>
	
	<div id="find_results_products" class="body">
		<p class="empty">Sorry, we couldn't find any products matching <strong><%= @find.specification.inspect %></strong>.</p>
		
		<hr class="terminator" />
	</div>
</div>


<% else %>

<div id="filter_panel" class="panel minor">
	<div class="title"> <h2>Filters</h2> </div>
	<div class="controls">
		<div id="filter_panel_add" class="button">Add Filter</div>
		<div id="filter_panel_remove_all" class="button">Remove All</div>
	</div>
	<div class="sections"> </div>
</div>

<div id="find_results_panel" class="panel major">
	<div class="title">
		<h2>
			<strong><%= @find.specification.inspect %></strong> matched
			<%= "product".pluralize_count(@find.all_product_ids.size) %>
			<span id="find_results_remaining"></span>
		</h2>
	</div>
	
	<div id="find_results_products" class="body">
		
		<hr class="terminator" />
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	var $ifloat_body = {
		find_home: true,
		find_id: <%= @find.id %>,
		find_spec: <%= @find.specification.to_json %>,
		find_total: <%= @find.all_product_ids.size %>,
		language: <%= session.language.inspect %>
	};
	
	filter_panel_load();
	find_results_update();
</script>

<% end %>

</div>
