<%= partial "cached_finds/find_header" %>

<div id="product_detail">

<div id="product_detail_data">
	<div class="title">Common Product Data</div>
	<table> <%= partial "products/property", :with => @common_properties %> </table>
</div>

<div id="product_detail_main">
	<% unless @recent_find.nil? %>
	<a href=<%= resource(@recent_find).inspect %>>
		<div id="cached_find_report">		
			Go back to all the products found for <span class="spec"><%= session.most_recent_find.specification %></span>...
		</div>
	</a>
	<% end %>
	
	<div id="product_detail_compare">
		<table>
			<tr>
				<td></td>
				<% @product_ids.each do |product_id| %>
				<td><%= product_image(@images_by_product_id[product_id])%></td>
				<% end %>
			</tr>
			<% parity = :even %>
			<% @diff_properties.each do |property| %>
			<tr class="<%= parity = (parity == :even ? :odd : :even) %>">
				<td>
					<%= property_icon(@icon_urls_by_property_id[property.id], @friendly_name_sections[property.id].last, :right) %>
				</td>
				<% @product_ids.each do |product_id| %>
				<% dom_id = "product_#{product_id}_property_#{property.id}" %>
				<td id=<%= dom_id.inspect %>>
					<div class="summary">
						<%= property_summary(dom_id, property.text?, @values_by_property_by_product_id[product_id][property], @text_value_definitions[property.id]) %>
					</div>
				</td>
				<% end %>
			</tr>
			<% end %>
		</table>
	</div>
</div>
