<%= partial "common/header" %>

<div id="body">
	
<div id="po_buy_later" class="panel minor">
	<div class="title"> <h2>Future Buys</h2> </div>
	<div class="sections"> </div>
</div>

<div id="po_buy_now" class="panel major">
	<div class="title"> <h2>Basket</h2> </div>
	
	<div class="body">
		<p class="empty">You have nothing in your basket</p>
	
		<table summary="prices">
			<tr class="facilities">
				<td class="howto" colspan="2">
					<div>
						<p>Marinestore have quoted the following prices for your items</p>
						<p>Use the <strong>Buy All Now</strong> button to complete your purchase on their website</p>
						<p>While there, you will still have access to your items</p>
					</div>
				</td>
				<% @facility_urls.each do |url| %>
				<% description = @facility_descriptions_by_url[url].to_s %>
				<td class="facility">
					<%= tooltip_list("<img src=\"/images/partner/facilities/#{url}.png\" alt=#{url.inspect} />", description, :left) %>
				</td>
				<% end %>
			</tr>
		</table>
	</div>
</div>

</div>

<script type="text/javascript" charset="utf-8">
	var $ifloat_body = {
		facility_ids_by_url: <%= @facility_ids_by_url.to_json %>,
		facility_urls: <%= @facility_urls.to_json %>,
		prices_by_url_by_product_id: <%= @prices_by_url_by_product_id.to_json %>
	};
</script>
