<%= partial "common/header" %>

<div id="body">
	
<div id="po_buy_later" class="panel minor">
	<div class="title"> <h2>Wish List</h2> </div>
	<div class="sections"> </div>
</div>

<div id="po_buy_now" class="panel major">
	<div class="title"> <h2>Shopping List</h2> </div>
	
	<div class="body">
		<p class="empty">Your shopping list is <strong>empty</strong>.</p>
	
		<table>
			<tr class="facilities">
				<td colspan="2"> </td>
				<% @facility_urls.each do |url| %>
				<td class="facility"> <img src="/images/partner/facilities/<%= url %>.png" alt=<%= url.inspect %> /> </td>
				<% end %>
			</tr>
		</table>
	</div>
</div>

</div>

<script type="text/javascript" charset="utf-8">
	var $ifloat_body = {
		facility_ids_by_url: <%= @facility_ids_by_url.to_json %>,
		facility_urls: <%= @facility_urls.to_json %>,
		prices_by_url_by_product_id: <%= @prices_by_url_by_product_id.to_json %>
	};
</script>
