<% @async_tracking = true %>
<%= partial "common/header" %>

<div id="brand_info">
  <h1><%= @brand.name %></h1>
  <div class="logo">
    <a href="<%= @canonical_path %>"> <%= brand_image(@brand) || @brand.name.superscript %> </a>
  </div>
  <div class="description">
    <p><%= @brand.description.to_s.superscript %></p>
  </div>
  <hr class="terminator" />
</div>

<div id="brand_products">
  <% @product_links_by_node.sort.each do |node, links| %>
  
  <div class="product_set_info">
    <p class="section"><%= node.first %></p>
    <p class="heading"><%= node.last %></p>
    <p class="show_all"><%= @show_all_links_by_node[node] %></p>
  </div>
  
  <div class="product_set">
    <a class="buttons prev" href="#"></a>
    <div class="viewport">
      <ul class="overview">
        <%= links.map { |link| "<li> #{link} </li>" } %>
      </ul>
    </div>
    <a class="buttons next" href="#"></a>
  </div>
  
  <hr class="terminator">
  
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    var config = {display: 7, duration: 1000};
    $('#brand_products .product_set').each(function() { $(this).tinycarousel(config) });
    product_links_wire_up(<%= @product_ids.to_json %>);
  });
</script>
