<%= partial "common/header" %>

<div id="body">
  <div id="brand_info">
    <div class="logo">
      <img src=<%= @brand.asset.url.inspect %> alt="brand logo" />
    </div>
    <div class="description">
      <h1><%= @brand.name %></h1>
      <p>no description support yet</p>
    </div>
    <hr class="terminator" />
  </div>
  
  <div id="brand_products">
    <% current_section = nil %>
    <% @checksums_by_node.sort.each do |node, checksums| %>
    <% section, heading = node %>
    
    <% unless section == current_section %>
    <h2><%= section %></h2>
    <% current_section = section %>
    <% end %>
    
    <h3><%= heading %> <span onclick="brand_show_all('<%= heading.attribute_escape(true) %>')">show me all nnn</span></h3>
    
    <div class="product_set">
      <a class="buttons prev" href="#"></a>
      <div class="viewport">
        <ul class="overview">
          <% checksums.sort_by { |c| @titles_by_checksum[c] }.each do |checksum| %>
          <li>
            <a href=<%= @urls_by_checksum[checksum].inspect %>>
              <%= product_image(@assets_by_checksum[checksum]) %>
            </a>
          </li>
          <% end %>
        </ul>
      </div>
      <a class="buttons next" href="#"></a>
    </div>
    
    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    var config = {callback: function(e, i) { console.log(e, i); }, display: 8, duration: 1000};
    $('#brand_products .product_set').each(function() { $(this).tinycarousel(config) });
  });
</script>
