<% @async_tracking = true %>
<%= partial "common/header" %>

<div id="categories">
  <% if @find_bad %>
  
  <div class="find_bad">
    <p>Sorry, we couldn't find any products matching "<strong><%= Merb::Parse.escape_xml(@find_phrase) %></strong>".</p>
    <% unless @find_alternatives.empty? %>
    <p>How about <%= @find_alternatives.map { |spec| '"' + finder_link(spec) + '"' }.friendly_join("or") %>?</p>
    <% end %>
  </div>
  
  <% else %>
  
  <%= breadcrumbs(@path_names) %>
  
  <div class="filters"> </div>
  
  <div class="items">
    <%= @child_links.join(" ") %>
  </div>
  
  <% end %>
</div>

<div id="basket_panel"> </div>

<script type="text/javascript" charset="utf-8">
  var query_string = window.location.search;
  $('a.product').each(function() {
    var a = $(this);
    a.attr('href', a.attr('href') + query_string);
  });
  
  var items = $('#categories .items a');
  if(items.length == 1) window.location = items.attr('href');
  
  basket_panel_load();
  product_links_wire_up(<%= (@product_ids || []).to_json %>);
  
  var links = $('#categories .items a');
  
  <% unless @child_counts.nil? %>
  var counts = <%= @child_counts.to_json %>;
  links.find('span').each(function(i) { $(this).append('<br />(' + counts[i] + ')') });
  <% end %>
  
  <% unless @child_link_image_urls.nil? %>
  var max_height = 0
  links.each(function() { max_height = Math.max(max_height, $(this).find('span').outerHeight()) });
  
  var image_urls = <%= @child_link_image_urls.to_json %>;
  links.each(function(i) {
    $(this).css('height', 106 + max_height + 'px').prepend('<img src="' + image_urls[i] + '" />')
  });
  <% end %>
</script>
