<% @async_tracking = true %>
<%= partial "common/header" %>

<div id="categories">
  <% if @find_bad %>
  
  <div class="find_bad">
    <p>Sorry, we couldn't find any products matching "<strong><%= Merb::Parse.escape_xml(@find_phrase) %></strong>".</p>
    <% unless @find_alternatives.empty? %>
    <p>How about <%= friendly_list(@find_alternatives.map { |spec| '"' + finder_link(spec) + '"' }, "or") %>?</p>
    <% end %>
  </div>
  
  <% else %>
  
  <%= breadcrumbs(@path_names) %>
  
  <div class="filters"> </div>
  
  <div class="items">
    <%= @child_links.join(" ") %>
  </div>
  
  <% end %>
</div>

<div id="basket_panel"> </div>

<script type="text/javascript" charset="utf-8">
  var items = $('#categories .items a');
  if(items.length == 1) window.location = items.attr('href');
  
  basket_panel_load();
  product_links_wire_up(<%= (@product_ids || []).to_json %>, true);
</script>
