<% @async_tracking = true %>
<%= partial "common/header" %>

<div id="categories">
  <% if @path_names.empty? and @find_phrase.blank? %>
  <div class="advert">
    <%= Indexer.banner_html_for_location("home-under-find") %>
  </div>
  <% end %>
  
  <% if @find_bad %>
  
  <div class="find_bad">
    <p>Sorry, we couldn't find any products matching "<strong><%= Merb::Parse.escape_xml(@find_phrase) %></strong>".</p>
    <% unless @find_alternatives.empty? %>
    <p>How about <%= @find_alternatives.map { |spec| '"' + finder_link(spec) + '"' }.friendly_join("or") %>?</p>
    <% end %>
  </div>
  
  <% else %>
  
  <%= breadcrumbs(@path_names) %>
  
  <div class="filters"> <h2>Filter your <%= "result".pluralize_count(@child_links.size) %> by...</h2> </div>
  
  <div class="items">
    <%= @child_links.join(" ") %>
  </div>
  
  <% end %>
</div>

<%= basket_panel %>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    var query_string = window.location.search;
    $('a.product').each(function() {
      var a = $(this);
      a.attr('href', a.attr('href') + query_string);
    });
    
    var items = $('#categories .items a');
    if(items.length == 1) window.location = items.attr('href');
    
    <% unless @path_names.size < 2 %>category_filters_show();<% end %>
    
    basket_panel_load();
    product_links_wire_up(<%= (@product_ids || []).to_json %>);
    
    var links = $('#categories .items a');
    var max_height = 0
    links.each(function() { max_height = Math.max(max_height, $(this).find('span').outerHeight()) });
    <% if @path_names.size < 2 %>
    links.each(function() { $(this).css('height', 106 + max_height + 'px') });
    <% end %>
  });
</script>
