<% @async_tracking = true %>
<%= partial "common/header" %>

<div id="categories">
  <div class="breadcrumbs">
    <%= breadcrumbs(@find_phrase, @path_names) %>
  </div>
  
  <div class="filters"> </div>
  
  <div class="items">
    <%= (@children_links || []).join(" ") %>
    <%= (@product_links || []).join(" ") %>
  </div>
</div>

<div id="basket_panel"> </div>

<script type="text/javascript" charset="utf-8">
  basket_panel_load();
  product_links_wire_up(<%= (@product_ids || []).to_json %>);
</script>
