<%= partial "common/header" %>

<div id="body">

<div id="product_data_panel" class="panel minor">
  <div class="title"> <h2>Product Data</h2> </div>
  <%= product_data_panel(@common_values) %>
</div>

<div id="product_detail" class="panel major">
  <div class="title">
    <h2><%= panel_title_back_to_find(@find) %></h2>
  </div>
  
  <div class="body">
    <div class="images">
      <img class="main" src=<%= @image_urls.first.inspect %> alt=<%= @page_title.inspect %> />
      <% if @image_urls.size > 1 %>     
        <% @image_urls.each do |url|%>
        <img class="thumb" src=<%= url.inspect %> alt="thumbnail" onmouseover="product_detail_select_image(event)" />
        <% end %>
      <% end %>
    </div>
      
    <div class="price_actions">
      <div id="pick_buttons">
        <div class="compare"> </div>
        <div class="buy_later"> </div>
        <div class="buy_now"> </div>
        <div class="reset"> </div>
        <hr class="terminator" />
      </div>
      
      <table class="prices" summary="prices">
        <% @prices_by_url.each do |url, amount| %>
        <% fac = (Indexer.facilities[url] || {})%>
        <tr>
          <td> <%= tooltip_list("<img src=\"/images/partner/facilities/#{url}.png\" alt=#{url.inspect} />", [fac[:description].to_s.superscript], :left) %> </td>
          <td class="price">
            <%= money_uom(amount, session.currency, @price_unit, @price_divisor) %> <br/>
            <div class="buy_now" onclick="window.location = '/products/<%= @product.id %>/buy_now/<%= fac[:id] %>'">Buy Now</div>
          </td>
        </tr>
        <% end %>
        <% if @prices_by_url.empty? %>
        <tr> <td class="no_stock">None of our partners have this item in stock</td> </tr>
        <% end %>
      </table>
      
      <% unless @related_media.empty? %>
      <h3>Related Media</h3>
      <table class="related_media" summary="related media">
        <% @related_media.each do |name, url, icon_url| %>
        <tr>
          <td class="icon"> <img src=<%= icon_url.inspect %> alt="media icon" /> </td>
          <td> <a href=<%= url.inspect %> target="_blank_"><%= name %></a> </td>
        </tr>
        <% end %>
      </table>
      <% end %>
    </div>
    
    <hr class="terminator" />
    
    <div class="description">
      <h1><%= @title.superscript %></h1>
      
      <% unless @related_product_ids_by_rel_name.nil? %>
      <a href="#relations">View Related Products</a>
      <% end %>
      
      <% features, description = @body_values_by_name.values_at("marketing:feature_list", "marketing:description").map { |values| (values || []).first.to_s.superscript } %>
      
      <% unless @summary.blank? %>
      <h3>Summary</h3>
      <p><%= @summary %></p>
      <% end %>
      
      <% unless features.blank? %>
      <h3>Features</h3>
      <ul>
        <% features.split("\n").each do |feature| %>
        <li><%= feature %></li>
        <% end %>
      </ul>
      <% end %>
      
      <% unless description.blank? %>
      <h3>Description</h3>
      <%= BlueCloth.new(description).to_html %>
      <% end %>
    </div>
    
    <% unless @related_product_ids_by_rel_name.nil? %>
    <div class="relations">
      <a name="relations"> </a>
      <% @related_product_ids_by_rel_name.each do |name, product_ids| %>
      <div>
        <h3>This product <%= name.tr("_", " ") %>...</h3>
        <%= product_ids.map { |prod_id| "<div class=\"product\" id=\"prod_#{prod_id}\"></div>" }.join %>
        <% hidden = product_ids.size - 3 %>
        <% if hidden > 0 %>
        <div class="more" onclick="product_detail_more_relations(event)">
          (show <%= hidden %> more product<%= hidden == 1 ? "" : "s" %>)
        </div>
        <% end %>
      </div>
      <% end %>
    </div>  
    <% end %>
  </div>
</div>

</div>

<script type="text/javascript" charset="utf-8">
  $ifloat_body = { product_id: <%= @product.id %> };
  $('img.property_icon').unbind('click');
  
  <% unless @related_product_ids_by_rel_name.nil? %>
  <% product_ids = @related_product_ids_by_rel_name.values.flatten.uniq %>
  product_links_load(<%= product_ids.to_json %>);
  $('#product_detail .relations div').each(function() { $(this).children('.product:gt(2)').hide(); });
  <% end %> 
</script>
