<% @async_tracking = true %>
<%= partial "common/header" %>

<div id="body">

<div id="product_data_panel" class="panel minor">
  <div class="title"> <h2>Product Data</h2> </div>
  <%= product_data_panel(@common_values) %>
</div>

<div id="product_detail" class="panel major">
  <div class="title">
    <h2><%= panel_title_back_to_find(@find) %></h2>
  </div>
  
  <div class="body">
    <div class="images">
      <img class="main" src=<%= @image_urls.first.inspect %> alt=<%= @page_title.inspect %> />
      <% if @image_urls.size > 1 %>     
        <% @image_urls.each do |url|%>
        <img class="thumb" src=<%= url.inspect %> alt="thumbnail" onmouseover="product_detail_select_image(event)" />
        <% end %>
      <% end %>
    </div>
    
    <div class="sidebar">
      <div id="pick_buttons">
        <div class="compare"> </div>
        <div class="buy_later"> </div>
        <div class="buy_now"> </div>
        <div class="reset"> </div>
        <hr class="terminator" />
      </div>
      
      <table class="prices" summary="prices">
        <% @prices_by_url.each do |url, amount| %>
        <% fac = (Indexer.facilities[url] || {})%>
        <tr>
          <td>
            <%= money_uom(amount, session.currency, @price_unit, @price_divisor) %> <br />
            (best partner price)
          </td>
          <td class="price">
            <div class="buy_now" onclick="window.location = '/products/<%= @product.id %>/buy_now/<%= fac[:id] %>'" <%= tooltip_attributes(fac[:description], :left) %>>Buy Now</div>
          </td>
        </tr>
        <% end %>
        <% if @prices_by_url.empty? %>
        <tr> <td class="no_stock">None of our partners have this item in stock</td> </tr>
        <% end %>
      </table>
      
      <div class="more">
        <h3>Show me more...</h3>
        <ul class="more">
          <li><%= finder_link(@more_class, :text => "#{@more_class} products (#{@more_counts[@more_class]})") %></li>
          <%= @more_tags.map { |tag| "<li>#{finder_link(tag, :tag => true, :text => "#{tag} (#{@more_counts[tag]})")}</li>"} %>
        </ul>
      </div>
      
      <% unless @related_media.empty? %>
      <div class="related_media">
        <h3>Related media...</h3>
        <table class="related_media" summary="related media">
          <% @related_media.each do |name, url, icon_url| %>
          <tr>
            <td class="icon"> <img src=<%= icon_url.inspect %> alt="media icon" /> </td>
            <td> <a href=<%= url.inspect %> target="_blank_"><%= name %></a> </td>
          </tr>
          <% end %>
        </table>
      </div>
      <% end %>
    </div>
    
    <hr class="terminator" />
    
    <div class="description">
      <h1><%= @title.superscript %></h1>
      
      <% unless @images_by_rel_name.empty? %>
      <a href="#relations" onclick="product_detail_flash_related()">View Related Products</a>
      <% end %>
      
      <% features, description = @body_values_by_name.values_at("marketing:feature_list", "marketing:description").map { |values| (values || []).first.to_s.superscript } %>
      
      <% unless @summary.blank? %>
      <h3>Summary</h3>
      <p><%= @summary %></p>
      <% end %>
      
      <% unless features.blank? %>
      <h3>Features</h3>
      <ul>
        <% features.split("\n").each do |feature| %>
        <li><%= feature %></li>
        <% end %>
      </ul>
      <% end %>
      
      <% unless description.blank? %>
      <h3>Description</h3>
      <%= BlueCloth.new(description).to_html %>
      <% end %>
    </div>
    
    <% unless @images_by_rel_name.empty? %>
    <div class="relations">
      <a name="relations"> </a>
      <% @images_by_rel_name.each do |name, image| %>
      <div id="rel_<%= name %>">
        <h3>This product <%= name.tr("_", " ") %>...</h3>
      </div>
      <% end %>
    </div>  
    <% end %>
  </div>
</div>

</div>

<script type="text/javascript" charset="utf-8">
  $ifloat_body = { product_id: <%= @product.id %> };
  $('img.property_icon').unbind('click');
  product_detail_load_related(<%= @images_by_rel_name.to_json %>);
</script>
