<%= partial "common/header" %>

<div id="body">

<div id="product_data_panel" class="panel minor">
	<div class="title"> <h2>Product Data</h2> </div>
	<div class="advert">Manufacturer Logo Here</div>
	<div class="sections">
		<%= product_data_panel(@common_values) %>
	</div>
</div>

<div id="product_detail" class="panel major">
	<div class="title">
		<h2><%= panel_title_back_to_find(session.most_recent_cached_find) %></h2>
	</div>
	
	<div class="body">
		<div class="assets">
			<img class="main" src=<%= @image_urls.first.inspect %> />
			
			<div class="thumbs">
				<% @image_urls.each do |url|%>
				<img src=<%= url.inspect %> onmouseover="product_detail_select_image(event)" />
				<% end %>
			</div>
			
			<div class="price_actions">
				<table class="prices">
					<% @prices_by_url.each do |url, amount| %>
						<tr>
							<td> <img src="/images/partner/facilities/<%= url %>.png" alt=<%= url.inspect %> /> </td>
							<td class="price"> <%= money(amount, session.currency) %> </td>
						</tr>
					<% end %>

					<% if @prices_by_url.empty? %>
						<tr> <td class="no_stock">None of our partners have this item in stock</td> </tr>
					<% end %>
				</table>
				
				<% unless @related_media.empty? %>
				<div class="button media" onclick="$('#related_media').dialog('open')">Related Media</div>
				<% end %>
				
				<div id="pick_buttons"> </div>
			</div>
			
			<hr class="terminator" />
		</div>
	
		<div class="description">
			<% (@body_values_by_name["auto:title"] || []).each do |title| %>
			<h2><%= title.superscript %></h2>
			<% end %>
			
			<% unless @related_products_by_rel_name.empty? %>
			<a href="#relations">View Related Products</a>
			<% end %>

			<% summary, features, description = @body_values_by_name.values_at("marketing:summary", "marketing:feature_list", "marketing:description").map { |values| (values || []).first.to_s.superscript } %>

			<% unless summary.blank? %>
			<h3>Summary</h3>
			<p><%= summary %></p>
			<% end %>

			<% unless features.blank? %>
			<h3>Features</h3>
			<ul>
				<% features.split("\n").each do |feature| %>
				<li><%= feature %></li>
				<% end %>
			</ul>
			<% end %>

			<% unless description.blank? %>
			<h3>Description</h3>
			<% description.split("\n").each do |paragraph| %>
			<p><%= paragraph %></p>
			<% end %>
			<% end %>
		</div>

		<% unless @related_products_by_rel_name.empty? %>
		<div class="relations">
			<a name="relations"> </a>
			<% @related_products_by_rel_name.each do |name, products| %>
			<div>
				<h3>This product <%= name.tr("_", " ") %>...</h3>
				<%= products.map { |prod| "<div class=\"product\" id=\"prod_#{prod.id}\"></div>" }.join %>
				<% hidden = products.size - 3 %>
				<% if hidden > 0 %>
				<div class="more" onclick="product_detail_more_relations(event)">
					(show <%= hidden %> more product<%= hidden == 1 ? "" : "s" %>)
				</div>
				<% end %>
			</div>
			<% end %>
		</div>	
		<% end %>
	</div>
</div>

</div>

<% unless @related_media.empty? %>
<div id="related_media" title="Related Media">
	<%= @related_media.map { |name, url| "<a href=#{url.inspect} target=\"_blank_\">#{name}</a>" }.join(" ") %>
</div>
<% end %>

<script type="text/javascript" charset="utf-8">
	$ifloat_body = {product_id: <%= @product.id %>};
	
	<% unless @related_products_by_rel_name.empty? %>
	<% product_ids = @related_products_by_rel_name.values.map { |products| products.map { |product| product.id } }.flatten.uniq %>
	product_links_load(<%= product_ids.to_json %>);
	$('#product_detail .relations div').each(function() { $(this).children('.product:gt(2)').hide(); });
	<% end %>
	
	<% unless @related_media.empty? %>
	var related_media = $('#related_media');
	related_media.dialog({autoOpen: false, modal: true, resizable: false});
	related_media.dialog('option', 'buttons', {Close: function() {$('#related_media').dialog('close')}});
	related_media.data('width.dialog', 700 + 'px');
	<% end %>	
</script>
