<% @async_tracking = true %>
<%= partial "common/header" %>

<div id="product">
  <%= breadcrumbs(@find_phrase, @path_names, false) %>
  
  <h1> <%= brand_title(@brand, @title) %> </h1>
  <hr class="terminator" />
  
  <div class="main_info">
    <div class="images">
      <img class="main" src=<%= @image_urls.first.inspect %> alt=<%= @page_title.inspect %> />
      <%= @image_urls.map { |url| "<img class=\"thumb\" src=#{url.inspect} alt=\"thumbnail\" onmouseover=\"product_thumb_hover(event)\" />" } if @image_urls.size > 1 %>
    </div>
    
    <div class="other">
      <div class="info_snippet">
        <h2>Summary</h2>
        <p><%= @summary %></p>
      </div>
      
      <div id="pick_sibling">
        <% @sibling_properties.each do |property| %>
          <div class="sibling" id="sibling_property_<%= property[:id] %>">
            <%= property_icon(property) %>
            <select onchange="product_sibling_select()">
              <option> <%= property[:name] %>... </option>
              <% @sibling_prod_ids_by_value_by_prop_ids[property[:id]].keys.sort_by { |v| property[:type] == 'text'  ? v : v.to_f }.each do |v| %>
              <option> <%= v %> </option>
              <% end %>
            </select>
          </div>
        <% end %>
      </div>
      
      <div class="info_snippet" id="show_me_more">
        <h2>Show me more...</h2>
        <p>
          <%= finder_link(@more_class, :text => "#{@more_class} products (#{@more_counts[@more_class]})") %>
          <%= @more_tags.map { |tag| finder_link(tag, :tag => true, :text => "#{tag} (#{@more_counts[tag]})") } %>
        </p>
        <% unless @product_links_by_rel_name.empty? %>
        <p id="related_anchor"> <a href="#related_products">VIEW RELATED PRODUCTS</a> </p>
        <% end %>
      </div>
      
      <% unless @related_media.empty? %>
      <div class="info_snippet" id="related_media">
        <h2>Related media...</h2>
        <table class="related_media" summary="related media">
          <% @related_media.each do |name, url, icon_url| %>
          <tr>
            <td class="icon"> <img src=<%= icon_url.inspect %> alt="media icon" /> </td>
            <td> <a href=<%= url.inspect %> target="_blank_"><%= name %></a> </td>
          </tr>
          <% end %>
        </table>
      </div>
      <% end %>
    </div>
    
    <hr class="terminator" />
  </div>
  
  <div class="extended_info">
    <% features, description = @body_values_by_name.values_at("marketing:feature_list", "marketing:description").map { |values| (values || []).first.to_s.superscript } %>
    
    <% unless features.blank? %>
    <div class="info_snippet">
      <h2>Features</h2>
      <ul>
        <% features.split("\n").each do |feature| %>
        <li><%= feature %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    
    <% unless description.blank? %>
    <div class="info_snippet">
      <h2>Description</h2>
      <%= BlueCloth.new(description).to_html %>
    </div>
    <% end %>
  </div>
  
  <div class="properties">
    <div class="sections">
      <%= @property_value_sections.map { |name| "<div>#{name}</div>" } %>
    </div>
    
    <div class="values">
      <%= product_data_table(@property_values) %>
    </div>
    
    <hr class="terminator" />
  </div>
  
  <% unless @product_links_by_rel_name.empty? %>
  <div class="info_snippet">
    <a name="related_products"> </a>
    <h2>Related Products</h2>
    <% @product_links_by_rel_name.each do |name, links| %>
    <p>This <%= name.tr("_", " ") %>...</p>
    <div class="related_set"> <%= links.join(" ") %> </div>
    <% end %>
  </div>  
  <% end %>
</div>

<div id="basket_panel"> </div>

<script type="text/javascript" charset="utf-8">
  basket_panel_load(<%= @product.id %>, <%= @price.to_json %>, <%= @price_unit.to_json %>);
  product_links_wire_up(<%= @rel_product_ids.to_json %>);
  product_property_sections_init(<%= @property_ids_by_section.to_json %>);
  product_siblings_wire_up(<%= @sibling_prod_ids_by_value_by_prop_ids.to_json %>);
  product_thumb_hover({target: $('#product img.thumb')[0]});
</script>
